<div class="contact">
	<div class="contact_form">
		<div class="contact-form--left">
			<div class="messages" ng-show="cCtrl.message">{{cCtrl.message}}</div>
			<form name="contact-form" ng-submit="cCtrl.processData()" ng-show="cCtrl.formShow">
				<div>
				Currently we are on a static site. Hence this section is temporarily disabled. You can send me a mail directly at 
				<a href="mailto:contact@shamsi.dev">contact@shamsi.dev</a>
				</div>
				<fieldset>
					<legend>Name <span class="required">*</span></legend>
					<div class="desc clear full-width">May I know your name</div>
					<div>
						<input type="text" name="firstName" ng-model="cCtrl.formData.firstName"  ng-class="{ 'has-error' : cCtrl.errorFirstName }" disabled="disabled" />
						<div class="desc clear full-width">First name</div>
						<div class="help full-width">{{cCtrl.errorFirstName}}</div>
					</div>
					<div>
						<input type="text" name="lastName" ng-model="cCtrl.formData.lastName"  ng-class="{ 'has-error' : cCtrl.errorLastName }" disabled="disabled"/>
						<div class="desc clear full-width">Last name</div>
						<div class="help full-width">{{cCtrl.errorLastName}}</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>Email <span class="required">*</span></legend>
					<input type="email" name="email" ng-model="cCtrl.formData.email"  ng-class="{ 'has-error' : cCtrl.errorEmail }" disabled="disabled"/>
					<div class="help full-width">{{cCtrl.errorEmail}}</div>
				</fieldset>	
				<fieldset>
					<legend>Subject <span class="required">*</span></legend>
					<input type="text" name="subject" ng-model="cCtrl.formData.subject"  ng-class="{ 'has-error' : cCtrl.errorSubject }" disabled="disabled"/>
					<div class="help full-width">{{cCtrl.errorSubject}}</div>
				</fieldset>	
				<fieldset>
					<legend>Message <span class="required">*</span></legend>
					<div class="desc clear full-width">Send me something right into my inbox. If you have any project or training related question, please describe in detail.</div>
					<textarea name="message" ng-model="cCtrl.formData.message"  ng-class="{ 'has-error' : cCtrl.errorMessage }" disabled="disabled"></textarea>
					<div class="help full-width">{{cCtrl.errorMessage}}</div>
				</fieldset>
				<button type="submit" id="contact_submit" class="bttn bttn--blackborder" disabled="disabled">Submit</button>		
			</form>
		</div>
		<div class="contact-form--right">
			<div>
				<h3>Contact Me!</h3>
				<p>
					Please feel free to contact me regarding any queries. Your's feedback is valuable to me. Any question, suggestion or constructive critcism is most welcome. Also, you could just say me a hi! 
				</p>
			</div>
			<div class="contact_social">
				<h3>Get Connected</h3>
				<ul class="no-bullets">
					<li>
						<i class="fa fa-envelope-square"></i>
						<a href="mailto:muhammedsalman@shamsi.dev">
					 		muhammedsalman@shamsi.dev
					 	</a>
					 </li>
					<li>
						<i class="fa fa-linkedin-square"></i>
						<a href="https://www.linkedin.com/in/muhammedsalmanshamsi/">
							 https://linkedin.com/in/muhammedsalmanshamsi
						</a>
					</li>
					<li>
						<i class="fa fa-github-square"></i>
						<a href="https://github.com/muhammed-salman/">
							 https://github.com/muhammed-salman/
						</a>
					</li>
					<li>
						<i class="fa fa-gitlab"></i>
						<a href="https://gitlab.com/muhammed-salman">
							 https://gitlab.com/muhammed-salman
						</a>
					</li>
					<li>
						<i class="fa fa-stack-overflow"></i>
						<a href="https://stackoverflow.com/users/3212574">
							 https://stackoverflow.com/users/3212574
						</a>
					</li>
					<li>
						<i class="fa fa-codepen"></i>
						<a href="https://codepen.io/muhammedsalmanshamsi/">
							 https://codepen.io/muhammedsalmanshamsi/
						</a>
					</li>
				</ul>
			</div>	
		</div>
	</div>
</div>