<div class="contact">
	<div class="contact_form">
		<div class="contact-form--left">
			<form method="post">
				<fieldset>
					<legend>Name <span class="required">*</span></legend>
					<div class="desc clear">May I know your name</div>
					<div>
						<input type="text" name="first_name"/>
						<div class="desc clear">First name</div>
					</div>
					<div>
						<input type="text" name="last_name"/>
						<div class="desc clear">Last name</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>Email <span class="required">*</span></legend>
					<input type="email" name="email"/>
				</fieldset>	
				<fieldset>
					<legend>Message <span class="required">*</span></legend>
					<div class="desc clear">Send me something right into my inbox</div>
					<textarea name="msg"></textarea>
				</fieldset>
				<button id="contact_submit" class="bttn bttn--blackborder">Submit</button>		
			</form>
		</div>
		<div class="contact-form--right">
			<div>
				<h3>Contact Me!</h3>
				<p>
					Please feel free to contact me regarding any queries. Your's feedback is valuable to me. Any question, suggestion or constructive critcism is most welcome. Also, you could just say me a hi! 
				</p>
			</div>
			<div class="contact_social">
				<h3>Get Connected</h3>
				<ul class="no-bullets">
					<li><i class="fa fa-envelope-square"></i>
					 	<a href="mailto:talktoshamsi@gmail.com">
					 		talktoshamsi@gmail.com
					 	</a>
					 </li>
					<li>
						<i class="fa fa-linkedin-square"></i>
						<a href="https://www.linkedin.com/in/muhammedsalmanshamsi/">
							 https://linkedin.com/in/muhammedsalmanshamsi
						</a>
					</li>
					<li>
						<i class="fa fa-github-square"></i>
						<a href="https://github.com/muhammed-salman/">
							 https://github.com/muhammed-salman/
						</a>
					</li>
					<li>
						<i class="fa fa-gitlab"></i>
						<a href="https://gitlab.com/muhammed-salman">
							 https://gitlab.com/muhammed-salman
						</a>
					</li>
					<li>
						<i class="fa fa-stack-overflow"></i>
						<a href="https://stackoverflow.com/users/3212574">
							 https://stackoverflow.com/users/3212574
						</a>
					</li>
					<li>
						<i class="fa fa-codepen"></i>
						<a href="https://codepen.io/muhammedsalmanshamsi/">
							 https://codepen.io/muhammedsalmanshamsi/
						</a>
					</li>
				</ul>
			</div>	
		</div>
	</div>
</div>