		<div class="row container__featured-image">
			<div class="container__featured-image__content">
				<h2>Hi! I am Muhammed Salman Shamsi</h2>
				<q class="block-element">Let's Build Something Wonderful Together</q>
				<div class="text-italics sm-font">I am here to build long lasting relationships with my clients and student community.</div>
			</div>
		</div>
		<section class="row">
			<div id="about">
				<h1 class="text-center">Hi!</h1>
				<p class="text-justify">I'm a Senior Software Developer and Educator based in Mumbai Metropolitan Region (MMR), India. I have passion for database and web development. I love to create, teach and design applications for web and mobile devices</p>
			</div>
			<div class="my-image">
				<div class="myphoto_circle--large"></div>
			</div>
		</section>
		<section class="row">
			<div id="why-me">
				<h2>Why Me?</h2>
				<p class="text-justify">
					<ul>
						<li>M.Tech Level expertise at database system and design patterns.</li>
						<li>My passion for programming and getting at the <b>crux</b> of the problem.</li>
						<li>2.5+ years of volunteer hands-on & freelance experience in building web applications.</li>
						<li>5+ years of experience in teaching programming, database and web technologies.</li>
						<li>Good  interpersonal  and  communication  skills which  makes me  skilled  at  explaining  complex concept easily to any novice person</li>
						<li>3K+ Stack Overflow reputation and 35+ GitHub repository which demonstrate my contribution to open source community and passion for programming.</li>
					</ul>
				</p>
				<a class="anchor-bttn bttn bttn--blackborder" href="resume">I want to know more</a>
				
			</div>
			<div id="my-training">
				<h2 >Professional Training</h2>
				<h3><q class="block-element">Want to Learn Something Awesome? So, What You are Waiting For?</q></h3>
				<div class="">I can teach you how to build a custom web apps using modern HTML, CSS and JavaScript. I have the ability to consistently individualize instruction, based on learner's needs and interests.</div>
				<h4>
					<strong>Want to undergo a training that suits yours need?</strong>
				</h4>
				<a class="anchor-bttn bttn bttn--blackborder" href="contact">Discover How</a>
			</div>
		</section>
		<section class="row">
			<portfolios-section></portfolios-section>
		</section>
		<div class="row">
			<div class="container__featured-msg">
			Want to have an aesthetically pleasing and working website <a href="contact">Discover How</a>
			</div>	
		</div>
		