		<div class="row container__featured-image">
			<div class="container__featured-image__content">
				<h2>Hi! I am Muhammed Salman Shamsi</h2>
				<q class="block-element">Let's Build Something Wonderful Together</q>
				<div class="text-italics sm-font">I am here to build long lasting relationships with my clients and student community.</div>
			</div>
		</div>
		<section class="row">
			<div id="about">
				<h1 class="text-center">Hi!</h1>
				<p class="text-justify">I'm a web developer and assistant professor based in Mumbai Metropolitan Region (MMR), India. I have passion for database and web development. I love to create, teach and design applications for web and mobile devices</p>
			</div>
			<div class="my-image">
				<div class="myphoto_circle--large"></div>
			</div>
		</section>
		<section class="row">
			<div id="why-me">
				<h2>Why Me?</h2>
				<p class="text-center">
					<ul>
						<li>M.Tech Level expertise at database system and design patterns.</li>
						<li>My passion for programming and getting at the <b>crux</b> of the problem.</li>
						<li>1.75 years volunteer experience in building web applications.</li>
						<li>2.5+ years of experience in teaching database and web technologies.</li>
						<li>Effectively resolve challenging issues.
						Unique ability to work independently and still keep my heads and other stakeholders informed.</li>
						<li>Skilled at explaining complex concept easily to any novice person.</li>
					</ul>
				</p>
				<a class="anchor-bttn bttn bttn--blackborder" href="#">What I've done</a>
				<a class="anchor-bttn bttn bttn--blackborder" href="#">What I can do</a>
				
			</div>
			<div id="my-video">
				<iframe src="https://www.youtube.com/embed/v0kL1wtqRdI" frameborder="0" allowfullscreen></iframe>
				
			</div>
				
		</section>
		<section class="row">
			<protfolios-section></protfolios-section>
		</section>
		<div class="row">
			<div class="container__featured-msg">
			Want to have an aesthetically pleasing and working website <a href="#">Discover How</a>
			</div>	
		</div>
		