<div class="row container__featured-image container__featured-image--small">
	<div class="container__featured-image__content">
		<div class="text-italics text-sm">Workshops, Meetups, Code Together Sessions &amp; Personal Training</div>
		<q class="block-element">Want to Learn Something Awesome? So, What You are Waiting For?</q>
		<div class="text-italics sm-font">I can teach you how to build a custom website using HTML, CSS and JavaScript.</div>
	</div>
</div>
<div class="row">
			<div class="container__featured-msg">
			Want to undergo a training that suits yours need? <a href="#">Discover How</a>
			</div>	
</div>
<div class="row">
	<h3 class="text-center"><b>Keep watching this section for recent learning programmes and sessions for Students and Working Professionals.</b></h3>
</div>
