<div class="innerHeader">
	<nav>
		<img class="innerHeader__logo" src="img/logo.png">
		<span id="innerHeader__title">Shamsify</span>
		<ul>
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="protfolios">Protfolios</a></li>
			<li><a ui-sref="learncode">Learn to Code</a></li>
			<li><a ui-sref="blog">Blog</a></li>
			<li>
				<a ui-sref='resources'>Resources</a>
				<ul>
					<li><a href='#'>Slides</a></li>
					<li><a href='#'>Notes</a></li>
					<li><a href='#'>Code Snippets</a></li>
				</ul>
				</li>
				<li>
					<a ui-sref='about'>About</a>
					<ul>
						<li><a href='#'>Education</a></li>
						<li><a href='#'>Why Me?</a></li>
						<li><a href='#'>Passion</a></li>
					</ul>
				</li>
				<li>
					<a ui-sref="contact">Contact</a>
					<ul>
						<li><a href='#'>Follow Me</a></li>
						<li><a href='#'>Get Connected</a></li>
					</ul>
				</li>
		</ul>
	</nav>
</div>
