<div class="innerHeader">
	<nav class="navbar--top">
		<img class="innerHeader__logo" src="img/logo.png">
		<span id="innerHeader__title">Shamsify</span>
		<ul class="navbar-elements--top">
			<li><a ui-sref="home" class="anchor-bttn bttn--blackborder active" ng-click="nCtrl.setActive($event)">Home</a></li>
			<li><a ui-sref="portfolios" class="anchor-bttn bttn--blackborder" ng-click="nCtrl.setActive($event)">Portfolios</a></li>
			<li><a ui-sref="learncode" class="anchor-bttn bttn--blackborder" ng-click="nCtrl.setActive($event)">Learn to Code</a></li>
			<li><a href="http://blog.shamsify.com" target="_blank" class="anchor-bttn bttn--blackborder" ng-click="nCtrl.setActive($event)">Blog</a></li>
			<li><a ui-sref='resources' class="anchor-bttn bttn--blackborder" ng-click="nCtrl.setActive($event)">Resources</a></li>
			<li><a ui-sref='about' class="anchor-bttn bttn--blackborder" ng-click="nCtrl.setActive($event)">About</a></li>
			<li><a ui-sref="contact" class="anchor-bttn bttn--blackborder" ng-click="nCtrl.setActive($event)">Contact</a></li>
		</ul>
	</nav>
</div>
