<div class="portfolios">
	<h1 class="text-center">Portfolios</h1>
	<div class="portfolios-item-wrapper">
		<figure>
			<img class="portfolios-img--medium" src="img/Opms/consultation.png" alt="opms-consultation">
		</figure>
		<div class="img-text-wrapper">
			<div class="img-text">
				<p><em>Mumbra Eye Care</em></p>
				<p><h3>OPMS</h3></p>
				<p>
					<a class="anchor-bttn bttn--whiteborder" ui-sref="portfolios({'#': 'OPMS'})">EXPLORE</a>
				</p>
			</div>
		</div>
	</div>
	<div class="portfolios-item-wrapper">
		<figure>
			<img class="portfolios-img--medium" src="img/LocalBusiness1/index-slider.png" alt="">
		</figure>
		<div class="img-text-wrapper">
			<div class="img-text">
				<p><em>InstaWeb Pvt. Ltd</em></p>
				<p><h3>LocalBusiness Theme</h3></p>
				<p>
					<a class="anchor-bttn bttn--whiteborder" ui-sref="portfolios({'#': 'LocalBusiness'})">EXPLORE</a>
				</p>
			</div>
		</div>
	</div>
	<div class="portfolios-item-wrapper">
		<figure>
			<img class="portfolios-img--medium" src="img/eacadems_dashboard.png" alt="">
		</figure>
		<div class="img-text-wrapper">
			<div class="img-text">
				<p><em>AIKTC</em></p>
				<p><h3>E-Academs</h3></p>
				<p>
					<a class="anchor-bttn bttn--whiteborder" ui-sref="portfolios({'#': 'E-Academs'})">EXPLORE</a>
				</p>
			</div>
		</div>
	</div>
	<div class="portfolios-item-wrapper">
		<figure>
			<img class="portfolios-img--medium" src="img/urbanSheetB.png" alt="">
		</figure>
		<div class="img-text-wrapper">
			<div class="img-text">
				<p><em>AIKTC</em></p>
				<p><h3>UrbanMumbra</h3></p>
				<p>
					<a class="anchor-bttn bttn--whiteborder" ui-sref="portfolios">EXPLORE</a>
				</p>
			</div>
		</div>
	</div>
</div>