<div class="portfolios">
	<h1 class="text-center">Portfolios</h1>
	<div class="portfolios-item-wrapper">
	<figure>
		<img class="portfolios-img--medium" src="img/LocalBusiness1/index-slider.png" alt="">
	</figure>
		<div class="img-text-wrapper">
			<div class="img-text">
				<p>InstaWeb Pvt. Ltd</p>
				<p>LocalBusiness Theme</p>
				<p>
					<a class="anchor-bttn bttn--whiteborder" ui-sref="portfolios({'#': 'LocalBusiness'})" >Explore</a>
				</p>
			</div>
		</div>
	</div>
	<div class="portfolios-item-wrapper">
	<figure>
		<img class="portfolios-img--medium" src="img/eacadems_dashboard.png" alt="">
	</figure>
		<div class="img-text-wrapper">
			<div class="img-text">
				<p>AIKTC</p>
				<p>E-Academs</p>
				<p>
					<a class="anchor-bttn bttn--whiteborder" ui-sref="portfolios({'#': 'E-Academs'})" >Explore</a>
				</p>
			</div>
		</div>
	</div>
		<div class="portfolios-item-wrapper">
			<figure>
				<img class="portfolios-img--medium" src="img/urbanSheetB.png" alt="">
			</figure>
				<div class="img-text-wrapper">
					<div class="img-text">
						<p>AIKTC</p>
						<p>UrbanMumbra</p>
						<p>
							<a class="anchor-bttn bttn--whiteborder" ui-sref="portfolios">Explore</a>
						</p>
					</div>
				</div>
		</div>
</div>