<div class="row container__featured-image container__featured-image--small">
	<div class="container__featured-image__content">
		<q class="block-element text-sm">It is what we know already that often prevents us from learning.</q>
		<div class="text-italics sm-font">.... Claude Bernard</div>
	</div>
</div>
<div class="resources">
	<div class="row">
		<h3 class="text-center"><b>This sections provides a list of resources for learners</b></h3>
	</div>
	<div class="row">
		<div class="resource-list">
			<div class="resource-info" ng-repeat="resource in rCtrl.resources.resources | orderBy:['category','title']">
				<h4><a href="{{resource.link}}">{{resource.title}}</a></h4>
				<div>{{resource.description}}</div>
				<div class="resource-category">Category: {{resource.category}}</div>
			</div>
		</div>
	</div>
</div>